# Digit recognization using MLPClassifier

In this notebook, I solved the digit recognization problem using MLPClassifier.

First import necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

Next, we import the data 'train.csv'

In [2]:
df=pd.read_csv('train.csv')

X is an array with size (n_samples, n_features) and y is an array of target values

In [3]:
X=np.asarray(df)[:,1:]
y=np.asarray(df)[:,0]

Now, we train our data using MLPClassifier

In [4]:
from sklearn.neural_network import MLPClassifier
X_train=X[0:]
y_train=y[0:]
clf = MLPClassifier(solver='sgd', alpha=1e-5,
                    hidden_layer_sizes=(250,150,50), random_state=1)

clf.fit(X, y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(250, 150, 50), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='sgd', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

Now we check how good we trained the data

In [5]:
y_predict=clf.predict(np.asmatrix(X_train))

In [6]:
def truepos(array1,array2):
    tp=0
    for i in range(len(array1)):
        if array1[i]==array2[i]:
            tp=tp+1
    return tp/len(array1)

In [7]:
truepos(y,y_predict)

0.9995952380952381

So, we have around 99% success rate but this is on the training set. 
Next we will get predicitions of the test set

# Next we get predicitions for test data set

In [8]:
df_test=pd.read_csv('test.csv')

In [9]:
X_test=np.asmatrix(df_test)

In [10]:
y_test=clf.predict(np.asmatrix(X_test))

Next, we are going to save it in a format so that it can be submitted in Kaggle challange

In [11]:
sample=pd.read_csv('sample_submission.csv')
samplearray=pd.DataFrame.as_matrix(sample[sample.columns[0:len(df.columns)]]).astype(int)
for i in range(len(sample)):
    samplearray[i,1]=y_test[i]
df1=pd.DataFrame(samplearray,columns=['ImageId','Label'])
df1.to_csv('sample_submission4.csv',index=False)

Kaggle, says we predicted 95% correctly. We can improve on this by varying the parameters in MPLClassifier
such as number of hidden layer and choosing different optimization algorithm. But for learning purpose I 
think this is good enough. If you want a higher score in kaggle then try tenserflow or keras.

In [28]:
pd.read_csv('sample_submission4.csv')

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
5            6      7
6            7      0
7            8      3
8            9      0
9           10      3
10          11      5
11          12      7
12          13      4
13          14      0
14          15      4
15          16      3
16          17      3
17          18      1
18          19      9
19          20      0
20          21      9
21          22      1
22          23      1
23          24      5
24          25      7
25          26      4
26          27      2
27          28      7
28          29      4
29          30      7
...        ...    ...
27970    27971      5
27971    27972      0
27972    27973      4
27973    27974      8
27974    27975      0
27975    27976      3
27976    27977      6
27977    27978      0
27978    27979      1
27979    27980      9
27980    27981      3
27981    27982      1
27982    27983      1
27983    27984      0
27984    27985      4
27985    27986      5
27986    27987      2
27987    27988      2
27988    27989      7
27989    27990      6
27990    27991      7
27991    27992      6
27992    27993      1
27993    27994      9
27994    27995      7
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]